@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  table {
    width: 100%;
    border-collapse: collapse;
    border-style: none;
    color: theme('colors.black');
  }

  thead tr th {
    background-color: theme('colors.slate.200');
    font-size: theme('fontSize.sm');
  }

  td,
  th {
    border-bottom: 1px solid theme('colors.slate.100');
    padding: theme('spacing.4');
    text-align: left;
    vertical-align: top;
  }

  th {
    border-bottom-width: 0;
  }

  tr:last-child td {
    border-bottom-width: 0;
  }
}
